#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.header {
  background-color: rgb(58, 72, 92);
  padding-bottom: 20px;
  padding-top: 20px;
}

.container {
  background-color: rgb(74, 149, 124);
  padding: 150px; 
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  align-self: center;
}

.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.3em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  margin-top: 80px;
}

.fade {
  opacity: 0.4;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.input {
  margin-bottom: 70px;
  margin-top: 20px;
  color: black;
}

.button.submit {
  background-color: rgb(51, 36, 87);
  margin-left: 40px;
}

#wrong {
  background-color:rgb(222, 153, 153);
  color: black;
}

#correct {
  background-color:rgb(56, 190, 87);
  color: black;
}

.user {
  margin-left: 20px;
}
